[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NatParksPalettes"]
	path = NatParksPalettes
	url = https://github.com/kevinsblake/natparkspalettes
	shallow = true
	registered = true
